@import 'tailwindcss';

body {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.note-menu-popover {
  position: fixed;
  position-anchor: --note-menu;
  inset: unset;
  top: anchor(bottom);
  right: anchor(right);
  margin: 0;
}
